@import "tailwindcss";

@theme {
  --color-primary: #DC241F;
  --color-secondary: #003893;
  --color-progress-dark: #022D73CC;
  --color-progress-light: #6196EB66;
}
*{
  font-family: "Poppins", sans-serif;
}
/* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge Legacy */
* {
  -ms-overflow-style: none;
}
