@import "tailwindcss";

@theme {
  --color-primary: #DC241F;
  --color-secondary: #003893;
  --color-progress-dark: #022D73CC;
  --color-progress-light: #6196EB66;
}
*{
  font-family: "Poppins", sans-serif;
}